<section *ngIf="!!userData" class="main-wrapper">
  <button *ngIf="isAuth" class="logout_btn btn btn-primary" (click)="logOut()">Salir</button>
  <header>
    <h1>Ayúdanos {{userData?.name}}, eres nuestra única esperanza</h1></header>
    <nav>
        <ul>
            <li [routerLink]="['ceremonia']"
                [routerLinkActive]="['active']">Ceremonia</li>
            <li *ngIf="userData && userData.lunch"
                [routerLink]="['comida']"
                [routerLinkActive]="['active']">Comida</li>
            <li *ngIf="userData && userData.party"
                [routerLink]="['fiesta']"
                [routerLinkActive]="['active']">Fiesta</li>
            <li *ngIf="userData && userData.party"
                [routerLink]="['rsvp-contacto']"
                [routerLinkActive]="['active']">RSVP</li>
        </ul>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>