@import "~_variables.scss";

$mobile_side_padding: 1em;
$desktop_side_padding: 3em;

:host {
  display: block;
  position: relative;
  margin-top: 2em;
  margin-bottom: 3.2em;
  @media (min-width: 480px) {
    margin-top: 3.2em;
  }
}

.main-wrapper{
  max-width: 96vw;
  width: 1200px;
  padding: 2em $mobile_side_padding 1em;
  position: relative;

  @media (min-width: 480px) {
    padding: $desktop_side_padding;
  }
}

.logout_btn {
  bottom: 100%;
  font-size: 0.8em;
  margin-bottom: -1em;
  padding: 0.4em 0.9em;
  position: absolute;
  right: 1em;
  background-color: light(desaturate($purple, 10), 10);
  border-color: $darkPurple;
}

/deep/ {
  h1 {
    font-size: 1.5em;
    color: $jellyBean;
  }
  h2 {
    color: $curiousBlue;
  }
}

nav {
  margin: 1em (-1 * $mobile_side_padding) 1.5em (-1 * $mobile_side_padding);
  border-bottom: 1px solid $darkPurple;
  border-top: 1px solid $darkPurple;
  background-color: $purple;
  color: $alabaster;
  padding-left: $mobile_side_padding;
  padding-right: $mobile_side_padding;
  @media (min-width: 480px) {
    margin-left: -1 * $desktop_side_padding;
    margin-right: -1 * $desktop_side_padding;
    padding-left: $desktop_side_padding;
    padding-right: $desktop_side_padding;
  }
  ul {
    display: flex;
  }
  li {
    padding: 0.6em 0.8em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.7em;
    &:before {
      content: '';
      display: block;
      height: 4px;
      width: 4px;
      background-color: $alabaster;
      border-radius: 50%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
      margin: auto;
      transform: scale(0) translateY(100%);
      transition: transform 0.2s cubic-bezier(.07,1.12,.44,1.49);
    }
    &.active {
      font-weight: bold;
      font-size: 1.2em;
      line-height: 0.6em;
      &:before {
        transform: scale(1) translateY(0%);
      }
    }
    &:first-child {
      margin-left: -0.8em;
    }
    &:last-child {
      margin-right: -0.8em;
    }
  }
}

.rsvp-fly {
  position: fixed;
  background-color: $polite_white;
  border: 2px solid $darkPurple;
  bottom: 0;
  right: 0;
  width: 220px;
  transition: transform 0.3s cubic-bezier(.07,1.12,.44,1.49);
  transform: translateY(140px);
  &.opened {
    transform: translateY(0);
    p i {
      transform: rotateZ(180deg);
    }
  }
  p {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color: $purple;
    color: $polite_white;
    margin: 0;
    padding: 0.8em;
    i {
      font-size: 2em;
      line-height: 0.5;
      transition: transform 0.3s ease-in;
    }
  }
  app-rsvp {
    padding: 1em;
  }
  /deep/ .rsvp-opt-group {
    margin-bottom: 0;
    .input_list {
      padding-top: 0;
    }
  }
}