@import "~_variables.scss";
:host {
  display: block;
  position: relative;
}

.searchbox {
  display: flex;
  flex-direction: column;
  background-color: rgba($onyx, 0.7);
  border-bottom: 1px solid rgba($zorba, 0.7);
  border-right: 1px solid rgba($zorba, 0.7);
  border-bottom-right-radius: 4px;
  padding: 0.5em 1em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-height: 1em;
  max-width: 480px;
  width: 100%;
  align-items: stretch;
  transition: max-height 0.3s ease-in;
  &.opened {
    max-height: 104px;
    .icon-angle-down {
      transform: rotate(180deg);
    }
  }
  input {
    background-color: rgba(white, 0.7);
    flex-grow: 1;
    font-size: 1em;
  }
  label {
    color: $jellyBean;
  }
  .ng-focused + label,
  .ng-touched + label {
    color: $alabaster;
  }
  button {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.sole_input_container {
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}
.toggler_container {
  cursor: pointer;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
}
.icon-angle-down {
  display: block;
  color: $alabaster;
  transition: transform 0.3s ease-in;
}

.suggestion {
  position: absolute;
  bottom: 100%;
  right: 0;
  font-family: 'Rubik';
}