<div #gmap
     class="gmap-container"
    [style.width]="width"
    [style.height]="height"></div>
<form class="searchbox"
      novalidate
      [ngClass]="{'opened': isSearchboxOpened}"
      [formGroup]="searchForm">
    <div class="sole_input_container">
        <input id="address"
               #address
               type="text"
               name="address"
               placeholder=""
               formControlName="address"
               (focus)=onFocus($event)
               (blur)=onBlur($event)>
        <label for="address">¿Desde dónde vas a venir?</label>
    </div>
    <div class="toggler_container" (click)="toggleSearchbox()">
        <i class="icon-angle-down"></i>
    </div>
</form>
<div class="suggestion btn"
     *ngIf="!!suggestion"
     (click)="setOriginFromSuggestion()"
><span *ngIf="!isRequesting; else showLoader">¿Ir desde {{suggestion.label}}?</span>
    <ng-template #showLoader><img src="assets/starwars_loader.gif" alt="loader"></ng-template></div>