<div #gmap
     class="test"
    [style.width]="width"
    [style.height]="height"></div>
<form class="searchbox"
      novalidate
      [ngClass]="{'opened': isSearchboxOpened}"
      [formGroup]="searchForm">
    <div class="sole_input_container">
        <input id="address"
               #address
               type="text"
               name="address"
               placeholder=""
               formControlName="address"
               (focus)=onFocus($event)
               (blur)=onBlur($event)>
        <label for="address">¿Desde dónde vas a venir?</label>
        <button type="button" class="btn btn-primary icon-search"></button>
    </div>
    <div class="toggler_container" (click)="toggleSearchbox()">
        <i class="icon-angle-down"></i>
    </div>
</form>
<div class="suggestion btn btn-secondary"
     *ngIf="!!suggestion"
     (click)="setOriginFromSuggestion()"
>¿Ir desde {{suggestion.label}}?</div>