<section>
    <header>
        <h1>¿Vas a poder acompañarnos?</h1>
    </header>
    <div class="intro">
        <p>Para que la operación de la resistencia llegue a buen término necesitamos planificarla al detalle, por lo que necesitamos que nos confirmes si vamos a poder contar contigo o no.</p>
    </div>
    <div class="info">
        <h2>Répondez s'il vous plaît</h2>
        <app-rsvp></app-rsvp>
    </div>
    <div class="info">
        <h2>Contacta con nosotros</h2>
        <p>Si tienes alguna duda aquí tienes nuestros datos:</p>
        <ul class="contact-info">
            <li>
                <h3>Rocío</h3>
                <b>Teléfono:</b> 659743684<br>
                <b>Email:</b> rocioviola@hotmail.es
            </li>
            <li>
                <h3>Carlos</h3>
                <b>Teléfono:</b> 687267598<br>
                <b>Email:</b> ck_ronin86@hotmail.com
            </li>
        </ul>
    </div>
</section>