@import "~_variables.scss";

:host {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #111111;
  font-family: 'Open Sans', sans-serif;
}

.centered {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.intro_text {
  color: #55b2bb;
  font-size: 1.1em;
  max-width: 17em;
  height: 3em;
}

.starWars_logo {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 75%;
  width: 220%;
}

.intro_crawl {
  color: #FFC500;
  font-size: 1.2em;
  padding: 0.5em;
  transform: perspective(200px) rotateX(25deg) translateY(-60%);
  max-width: 85%;
  width: 25em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  h1, h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
  }
  h1 {
    font-size: 1.1em;
    padding-bottom: 0.8em;
    sub {
      font-size: 0.5em;
      position: relative;
      line-height: 0;
      bottom: 0.43em;
    }
  }
  h2 {
    text-transform: uppercase;
  }
  p {
    text-align: justify;
  };
}

.skip_btn {
  position: absolute;
  font-size: 1em;
  bottom: 1em;
  right: 1em;
}

.info_logger {
  background: #DDD;
  color: #333;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5em;
}