@import "~_variables.scss";

.celebration-choice {
  $celebrationChoice: &;
  &_container {
    display: flex;
    padding: 20px;
  }

  padding: 20px;
  border: 1px solid #333;
  position: relative;
  &:before {
    display: block;
    font-size: 3em;
    height: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &:nth-child(odd) {
    color: $primary;
    padding-right: 40px;
    &:before {
      content: 'O';
      left: calc(100% - 0.5em);
    }
  }
  &:nth-child(even) {
    color: $secondary;
    padding-left: 40px;
    &:before {
      content: 'O';
      right: calc(100% - 0.5em);
    }
  }
  &:hover {
    background-color: red;
    &:nth-child(odd) {
      #{$celebrationChoice}_text-hoder {
        margin-right: 0.5em;
      }
    }
    &:nth-child(even) {
      #{$celebrationChoice}_text-hoder {
        margin-left: 0.5em;
      }
    }
  }
}