@import "~_variables.scss";

:host {
  display: flex;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #111111;
}

.skip_btn {
  position: absolute;
  font-size: 1.5em;
  bottom: 1em;
  right: 1em;
}