<p *ngIf="introStep === 1"
   [@fadeIn]="{value:'*', params:{duration: 500}}"
   [@fadeOut]="{value:'*', params:{duration: 500}}"
   (@fadeIn.done)="animationStepper($event, '*', 1, 4000)"
   class="intro_text centered">Hace mucho tiempo, en una dehesa<br>muy, muy lejana....</p>
<img *ngIf="introStep === 2"
     [@logoStarWars]="{value:'*', params:{duration_in: 500, duration_shrink: 6000}}"
     (@logoStarWars.done)="animationStepper($event, '*', 2, 0)"
     class="starWars_logo"
     src="assets/star-wars.svg" alt="">
<div *ngIf="introStep === 3"
     [@textCrawl]="{
        value:'*',
        params:{duration_leave: 25000,
        delay_leave: 2500,
        duration_fade: 5000,
        delay_fade: 21000
        }}"
     (@textCrawl.done)="animationEnded()"
     class="intro_crawl">
  <h1>Episodio 1<sub>1/2</sub></h1>
  <h2>La celebración de los freaks</h2>
  <p>¡Sorpresa! Después de 7 años de bichueladas y trastadas, por fin ambos bandos se han puesto de acuerdo.</p>
  <p>En una contundente jugada, después de 10 kilómetros de esfuerzo, Descerebrado se armó de valor y Pequeñita, exhausta dijo sí.</p>
  <p>Juntos han decidido celebrar su unión y contar contigo en una misión concreta...</p>
</div>
<button *ngIf="showSkip"
        [@fadeIn]
        [routerLink]="['/landing']"
        class="btn btn-transp skip_btn"
        type="button">Saltar</button>
