@import "~_variables.scss";

$mobile_side_padding: 1em;
$desktop_side_padding: 3em;

:host {
  display: block;
}

nav {
  margin: 1em (-1 * $mobile_side_padding) 1.5em (-1 * $mobile_side_padding);
  border-bottom: 1px solid $darkPurple;
  border-top: 1px solid $darkPurple;
  background-color: $purple;
  color: $alabaster;
  padding-left: $mobile_side_padding;
  padding-right: $mobile_side_padding;
  @media (min-width: 480px) {
    margin-left: -1 * $desktop_side_padding;
    margin-right: -1 * $desktop_side_padding;
    padding-left: $desktop_side_padding;
    padding-right: $desktop_side_padding;
  }
  ul {
    display: flex;
  }
  li {
    padding: 0.6em 0.8em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 0.8em;
    line-height: 1.7em;
    &:before {
      content: '';
      display: block;
      height: 4px;
      width: 4px;
      background-color: $alabaster;
      border-radius: 50%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3px;
      margin: auto;
      transform: scale(0) translateY(100%);
      transition: transform 0.2s cubic-bezier(.07,1.12,.44,1.49);
    }
    &.active {
      font-weight: bold;
      font-size: 1.2em;
      line-height: 0.6em;
      &:before {
        transform: scale(1) translateY(0%);
      }
    }
    &:first-child {
      margin-left: -0.8em;
    }
    &:last-child {
      margin-right: -0.8em;
    }
  }
}

.admin {
  th, td {
    text-align: center;
  }
  .alignleft {
    text-align: left;
  }
  &--title {
    margin-bottom: 0.5em;
  }
  &--users,
  &--tracklist {
    margin-bottom: 2em;
    &--summary {
      display: flex;
      max-width: 75%;
      justify-content: space-between;
    }
    &--list {
      padding-bottom: 2em;
      th {
        padding-bottom: 1em;
      }
      td {
        padding-bottom: 0.4em;
      }
      &__small {
        width: 100px;
      }
      &__medium {
        width: 200px;
      }
    }
  }
  &--users {
    h2 {
      color: $jellyBean;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      cursor: pointer;
    }
    .icon-angle-down {
      display: inline-block;
      vertical-align: middle;
      &.opened {
        transform: rotateZ(180deg);
      }
    }
  }
  &--tracklist {
    &--list {
      td {
        padding: 0.2em 0.4em;
        border-bottom: 1px solid $purple;
      }
    }
    .constrained-cell {
      max-width: 200px;
    }
    .icon-spotify {
      opacity: 1;
      color: $greenPigment;
    }

    .spotify-btn {
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 0.5em;
      background-color: $onyx;
      color: $polite_white;
      text-decoration: none;
      border-radius: 2px;
      border: none;
      font-size: 1em;
      span {
        margin-left: 0.4em;
        font-size: 0.8em;
        line-height: 1.2em;
      }
    }
  }
  &--user,
  &--track{
    .icon-cross {
      opacity: 0.1;
    }
    .image-container {
      display: flex;
      align-items: center;
    }
    i {
      opacity: 0.15;
      &.will-come,
      &.will-not-come {
        opacity: 1;
      }
      &.will-come {
        color: $greenPigment;
      }
      &.will-not-come {
        color: $crimson;
      }
    }
    &--thumbnail {
      height: 35px;
      width: 35px;
    }
  }
  &--track {
    &__added {
      opacity: 0.5;
    }
  }
}