$primary: rgb(16, 172, 86);
$secondary: rgb(155, 10, 78);
$alert: rgb(214, 14, 14);

$polite_white: #F0F0F0;
$zorba: #a29590;
$greenPigment: #0cb658;
$darkGreenPigment: #098641;
$onyx: #30383b;
$crimson: #dc1839;
$purple: #6f2a67;
$darkPurple: #4a1c45;
$gold: #ddb35f;
$alabaster: #efe9e7;
$jellyBean: #286AA5;
$curiousBlue: #149cd2;

$regular: 400;
$medium: 500;
$bold: 700;

$borderRadius: 2px;