@import "_variables";
@import "./assets/styles/_fonts";
@import "./assets/styles/_form";
@import "./assets/styles/_btn";

html,
body {
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #111;
  background-color: #EEE;
  font-family: 'Rubik', Arial, sans-serif;
  color: $onyx;
} 

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Passion One', "Arial Black", sans-serif;
  margin: 0;
}
