@import "~_variables.scss";

.btn {
  font-family: $rubik;
  color:  $alabaster;
  padding: 0.7em 1.7em;
  border-width: 1px;
  border-style:  solid;
  border-radius: 2px;
  cursor: pointer;
  font-weight: $medium;
  transition: background-color 0.2s ease-in;

  &-primary {
    background-color: $primary;
    border-color: darken($primary, 10);
    &:hover {
      background-color: desaturate(lighten($primary, 5), 10);
    }
  }

  &-secondary {
    background-color: $alabaster;
    border-color: $jellyBean;
    color: $curiousBlue;
    &:hover {
      background-color: desaturate(lighten($jellyBean, 50), 20);
    }
  }

  &-transp {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: $bold;
    background-color: transparent;
    border-color: $alabaster;
    border-width: 2px;
    &:hover {
      background-color: rgba($alabaster, 0.1);
    }
  }
}