@import "~_variables.scss";


.form {
  &_error {
    border: 1px solid $crimson;
    background-color: rgba($crimson, 0.1);
    color: darken($crimson, 10);
    &_msg {
      padding: 0.6em 0.8em;
    }
  }
  @media (min-width: 480px) {
    padding-top: 1em;
  }
}

.input_list {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 1em;
  position: relative;
  height: 2.5em;
  overflow: hidden;
  transition: height 0.2s ease-in;
  &:last-child {
    margin-bottom: 2em;
  }
  &.focused {
    label {
      transform: translateY(-100%) scale(0.8);
    }
  }
  &.invalid {
    height: 4.4em;
    label {
      color: $alert;
    }
    input {
      border-color: $alert;
      color: darken($alert, 10);
    }
  }
  &.valid {
    label {
      color: $primary;
    }
    input {
      border-color: $primary;
      color: darken($primary, 10);
    }
  }

  input,
  label {
    transition: color 0.2s ease-in, border-color 0.2s ease-in;
  }

  input {
    &[type='text'],
    &[type='number'],
    &[type='password'],
    &[type='email'] {
      width: 100%;
      font-size: 0.95em;
    }
  }

  .error_msg {
    color: $alert;
    position: absolute;
    top: 3.2em;
    font-size: 0.8em;
  }

  @media (min-width: 480px) {
    &.invalid {
      height: 3.5em;
    }
  }
}


label {
  position: absolute;
  transition: transform 0.2s ease-in;
  transform-origin: left;
}
input {
  &[type='text'],
  &[type='number'],
  &[type='password'],
  &[type='email'] {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    font-size: 1.1em;
    padding: 0 0.5em;
    &:focus {
      outline: none;
    }
  }
}

.sole_input_container {
  display: flex;
  position: relative;
  padding-top: 1.3em;
  label {
    position: absolute;
    top: 1.8em;
    left: 0.5em;
    transition: top 0.3s ease-in, font-size 0.3s ease-in, color 0.2s ease-out;
  }
  .ng-focused + label,
  .ng-touched + label {
    top: 0;
    font-size: 0.8em;
  }
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}