@import "~_variables.scss";

.img_container {
  margin-top: 2em;
  background-image: url('/assets/casa_del_reloj_1200.jpg');
  width: 1102px;
  height: 826px;
  background-size: cover;
}

.intro {
  padding-bottom: 2em;
}

.info {
  padding-bottom: 1em;
}